<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>View All Buku</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar(page='caribarang')}"></nav>
<div class="container">
    <div class="text-center pt-5">
        <h2>Cari Barang</h2>
    </div>
    <form action="/search" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="searchQuery" class="form-control" placeholder="Cari barang" />
            <button type="submit" class="btn btn-primary">Cari</button>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
        </tr>
        <tr>
            <td>Data 3</td>
            <td>Data 4</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>