<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <title>Restock Gudang</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar(page='gudang')}"></nav>
<div
        th:if="${flashMessage}"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        id="myAlert"
        style="position: fixed; top: 50px; left: 10%; right: 10%; z-index: 9999; width: 75%"
        th:text="${flashMessage}"
>
  <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
  ></button>
</div>
<div class="container mt-5">

      <div class="justify-content-center">
        <h2 class="text-center">Restock Gudang</h2>
        <br>
        <div class="d-grid w-75">
          <div class="row">
            <p class="col">Nama Gudang</p>
            <p class="col" th:text="': ' + ${gudangDTO.namaGudang}"></p>
          </div>
        </div>
        <div class="d-grid w-75">
          <div class="row">
            <p class="col">Alamat Gudang</p>
            <p class="col" th:text="': ' + ${gudangDTO.alamatGudang}"></p>
          </div>
        </div>
        <form th:action="@{/gudang/} + ${gudangDTO.idGudang} + @{/restock-barang}" th:object="${gudangDTO}" method="POST">
          <input class="form-control" type="hidden" th:field="*{idGudang}"/>
          <input class="form-control" type="hidden" th:field="*{namaGudang}"/>
          <input class="form-control" type="hidden" th:field="*{alamatGudang}"/>
          <th>
            <button class="btn btn-outline-primary" type="submit" name="addRow">+Tambah Barang</button>
          </th>
          <table class="table">
            <thead>
            <th>No</th>
            <th>Barang</th>
            <th>Kuantitas</th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="gudangBarang, iterationStatus : *{listBarangDimuatGudang}">
              <td th:text="${iterationStatus.count}"></td>
              <input class="form-control" type="hidden" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].id}"/>

              <input class="form-control" type="hidden" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].idGudang}"/>
              <td>
                <select required class="form-control search-input" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].skuBarang}">
                  <div th:each="barang : ${listBarang}">
                    <option th:if="${barang}" th:value="${barang.sku}" th:text="${barang.merk}"></option>
                  </div>
                </select>
              </td>
              <td>
                <input required class="form-control" type="number" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].stok}">
              </td>
              <td>
                <button class="btn btn-danger" th:value="${iterationStatus.index}" id="deleteRow" type="submit" name="deleteRow">Hapus</button>
              </td>
            </tr>
            </tbody>
          </table>

          <button class="btn btn-primary" type="submit">Simpan</button>
          <a class="btn btn-secondary" href="@{/gudang/{idGudang}(idGudang=${gudang.idGudang})}">Batal</a>

        </form>
      </div>

</div>
<script>
  $(document).ready(function () {
    $('.search-input').select2({
      width: '100%'
    });
  });
  setTimeout(function () {
    var myAlert = document.getElementById("myAlert");
    myAlert.style.display = "none";
  }, 3000);
</script>

</body>
</html>