<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>Cari Barang</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar(page='gudang')}"></nav>
<div class="container">
    <div class="text-center pt-5">
        <h2>Cari Barang</h2>
    </div>
    <form action="/gudang/cari-barang" method="get" class="mb-3">
        <div class="input-group align-items-center">
<!--            <input type="text" name="searchQuery" class="form-control" placeholder="Cari barang" />-->
            <select name="sku" class="search-input form-control">
                <div class="" th:each="barang, iterationStatus : ${listBarang}">
                    <option th:value="${barang.sku}" th:text="${barang.merk}"></option>
                </div>
            </select>
            <button type="submit" class="btn btn-primary">Cari</button>
        </div>
    </form>
    <div th:if="${listGudang}">
        <div th:if="${listGudang.size() != 0}">
            <table id="myTable" class="display">
                <thead class="mt-3">
                <tr class="bg-dark text-white">
                    <th class="fw-normal">No</th>
                    <th class="fw-normal">Nama</th>
                    <th class="fw-normal">Alamat Gudang</th>
                    <th class="fw-normal">Stok</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="gudangBarang, iterationStatus: ${listGudang}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${gudangBarang.idGudang.namaGudang}"></td>
                    <td th:text="${gudangBarang.idGudang.alamatGudang}"></td>
                    <td th:text="${gudangBarang.stok}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${listGudang.size() != 0}">
            <h3 class="text-center mt-3 text-secondary">Belum ada gudang yang memuat barang ini!</h3>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('.search-input').select2({
            width: '90%'
        });
    });
</script>
</body>

</html>