<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Form Restock Gudang</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar(page='gudang')}"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Restock Gudang</h2>
        <br>
        <div class="d-grid w-75">
          <div class="row">
            <p class="col">Nama Gudang</p>
            <p class="col" th:text="': ' + ${gudangDTO.namaGudang}"></p>
          </div>
        </div>
        <div class="d-grid w-75">
          <div class="row">
            <p class="col">Alamat Gudang</p>
            <p class="col" th:text="': ' + ${gudangDTO.alamatGudang}"></p>
          </div>
        </div>
        <form th:action="@{/gudang/} + ${gudangDTO.idGudang} + @{/restock-barang}" th:object="${gudangDTO}" method="POST">
          <input class="form-control" type="hidden" th:field="*{idGudang}"/>
          <input class="form-control" type="hidden" th:field="*{namaGudang}"/>
          <input class="form-control" type="hidden" th:field="*{alamatGudang}"/>
          <th>
            <button class="btn btn-primary" type="submit" name="addRow">+Tambah Barang</button>
          </th>
          <table class="table">
            <thead>
            <th>No</th>
            <th>Barang</th>
            <th>Kuantitas</th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="gudangBarang, iterationStatus : *{listBarangDimuatGudang}">
              <td th:text="${iterationStatus.count}"></td>
              <input class="form-control" type="hidden" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].id}"/>

              <input class="form-control" type="hidden" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].idGudang}"/>
              <td>
                <select required class="form-control" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].skuBarang}">
                  <div th:each="barang : ${listBarang}">
                    <option th:if="${barang}" th:value="${barang.sku}" th:text="${barang.merk}"></option>
                  </div>
                </select>
              </td>
              <td>
                <input required class="form-control" type="number" th:field="*{listBarangDimuatGudang[__${iterationStatus.index}__].stok}">
              </td>
              <td>
                <button class="btn btn-danger" th:value="${iterationStatus.index}" id="deleteRow" type="submit" name="deleteRow">Hapus</button>
              </td>
            </tr>
            </tbody>
          </table>

          <button class="btn btn-primary" type="submit">Simpan</button>
          <a class="btn btn-primary" href="@{/gudang/{idGudang}(idGudang=${gudang.idGudang})}">Batal</a>

        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>