<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Form Ubah Barang</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar(page='barang')}"></nav>
<div class="container mt-5">
            <div class="justify-content-center">
                <h2 class="text-center">Ubah Barang </h2>
                <br>
                <form th:action="@{/barang/} + ${barangDTO.sku} + @{/ubah}" th:object="${barangDTO}" method="POST">
                    SKU: <br>
                    <input class="form-control" type="text" th:field="*{sku}" readonly/>
                    <br><br>

                    Merk Barang: <br>
                    <input required class="form-control" type="text" th:field="*{merk}" />
                    <br><br>

                    Tipe Barang: <br>
                    <select type="number" th:field="*{tipeBarang}" class="form-control" readonly>
                        <option class="d-none" value="1">Produk Elektronik</option>
                        <option class="d-none" value="2">Pakaian & Aksesoris</option>
                        <option class="d-none" value="3">Makanan & Minuman</option>
                        <option class="d-none" value="4">Kosmetik</option>
                        <option class="d-none" value="5">Perlengkapan Rumah</option>
                    </select>
                    <br><br>

                    Harga: <br>
                    <input required class="form-control" type="number" th:field="*{hargaBarang}" />
                    <br><br>

                    <button class="btn btn-primary" type="submit">Simpan</button>
                    <a class="btn btn-primary" href="/barang">Batal</a>
                </form>
            </div>
</div>
</body>
</html>