<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <head th:fragment="js">
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4/1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <head th:fragment="datatables-css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
        </head>
        <head th:fragment="datatables-js">
            <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
            <script th:src="@{/js/datatables.js}"></script>
        </head>
        <title>Title</title>
</head>
<body>

</body>
</html>